.main {
    width: 100%;
    height: auto
}
header, footer {
    width: auto;
    text-align: center;
    background: blue;
    color: white;
}
.box {
    float: right;
    height: 300px;
  text-align: center;
  font-size: 1.5em;
  background-color: #e43;
  color: #fff;
}
.oc {
    width: 60%;
}
.tc {
    width: 40%;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';  
}

.clearfix:after {
  clear: both;
}
.row {
  padding: 1rem 0;   
  background-color: #020202;
}