@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*:not(i) {
    font-family: 'PT Sans', sans-serif !important;
}

.xxxlarge {
    font-size: 3rem;
}

.xxlarge {
    font-size: 2.8rem;
}

.xlarge {
    font-size: 2.5rem;
}

.large {
    font-size: 2.4rem;
}

/*.container {*/
/*padding: 1.5% 5%;*/
/*background-color: white;*/
/*}*/

.header {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 5% 5%;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navigation a {
    text-decoration: none;
    color: black;
    -webkit-transition: color 0.5s linear, text-shadow 0.5s linear, font-size 0.5s linear;
    -moz-transition: color 0.5s linear, text-shadow 0.5s linear, font-size 0.5s linear;
    -ms-transition: color 0.5s linear, text-shadow 0.5s linear, font-size 0.5s linear;
    -o-transition: color 0.5s linear, text-shadow 0.5s linear, font-size 0.5s linear;
    transition: color 0.5s linear, text-shadow 0.5s linear, font-size 0.5s linear;
}

.navigation a:not(.active):hover {
    color: #e400ff;
    font-size: large;
}
a.active {
    color: #6eff00;
    font-size: large;
}
/*.clearfix::after {*/
/*content: "";*/
/*clear: both;*/
/*display: table;*/
/*}*/

table {
    width: 100%;
    height: 100%;
    margin: 10% 0% 5%;
    text-align: center;
    color: black;
}

.content {
    padding: 5% 10%;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery img {
    width: 95%;
    max-width: 400px;
    max-height: 450px;
    cursor: pointer;
    filter: grayscale(1);
    -webkit-transition: filter 0.8s linear;
    -moz-transition: filter 0.8s linear;
    -ms-transition: filter 0.8s linear;
    -o-transition: filter 0.8s linear;
    transition: filter 0.8s linear;
}

.gallery img:hover {
    filter: grayscale(0);
}
.middleBox {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/middle_image.png");
    background-position: center;
    color: white;
    margin: 5% 0%;
    padding: 15% 0%;

}
.middleBox h2 {
    -webkit-transition: color 1s linear;
    -moz-transition: color 1s linear;
    -ms-transition: color 1s linear;
    -o-transition: color 1s linear;
    transition: color 1s linear;
    cursor: pointer;
}
.middleBox h2:hover {
    color: black;
}

/*.middleBox h2:hover::after {*/
    /*content: ' ';*/
    /*position: relative;*/
    /*background: red;*/
    /*height: 3px;*/
    /*display: block;*/
    /*width: 40%;*/
    /*left: 30%;*/
    /*margin-top: 0.5%;*/
/*}*/

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img.itemImage {
    max-width: 185px;
    max-height: 180px;
    width: 100%;
    height: 100%;
}



.contentItem {
    margin-left: 2%;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    /* align-content: center; */
}
.contentImage {
    /* margin: 0% 5%; */
    /* padding: 3%; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 7% 5%;
}
button {
    border: none;
    outline: none;
}

.btn {
    flex-basis: 50%;
}
.extraContent {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}
.item {
    margin: 3% 0%;
}
/*// FF80B0*/
.item:nth-child(odd) .contentItem {
    background: #ffb8d3;
}

.item:nth-child(odd) .active {
    background: #FF80B0;
}

.item:nth-child(odd) h3 {
    color: #FF80B0;
}

.item:nth-child(odd) .btn:not(.active) {
    color: #FF80B0;
}


.item:nth-child(even) .contentItem {
    background: #8080802e;
}

.item:nth-child(even) .active {
    background: #669ACC;
}

.item:nth-child(even) h3 {
    color: #669ACC;
}

.item:nth-child(even) .btn:not(.active) {
    color: #669ACC;
}


.box3 {
    display: flex;
    flex-direction: row;
    margin: 5% 0%;
}
.ls {
    flex-basis: 50%;
    padding: 5% 0%;
    text-align: center;
    background: #F2F2F2;
}
.rs {
    flex-basis: 50%;
    text-align: center;
}
.rs img {
    /* width: 100%; */
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}
.ls h2 {
    color: #DF709A;
}

.ls p {
    margin: 5% 5%;
    line-height: 1.3;
}

input[type="text"] {
    width: 70%;
    border: none;
    outline: none;
    padding: 2% 2%;
}

.btnSubmit {
    background: #DF709A;
    padding: 1.5% 5%;
    color: white;
}

.box4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    flex-basis: 33.3%;
}
.headerList {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 5%;
    color: darkgray;
}
.list > li {
    font-size: medium;
    color: deepskyblue;
    text-align: left;
    margin: 4% 0%;
}
/*.list > li:nth-child(1) {*/
    /*margin: 0% !important;*/
/*}*/