/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Georama', sans-serif !important;
}

.navigation {
    display: flex;
    padding: 1% 0%;
    margin: 0;
    align-items: center;
    background-color: deepskyblue;
}
.items {
    flex: 4;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.logo {
    flex: 1;
    text-align: center;
}
.buttonGroup {
    flex: 1;
    text-align: center;
}

.logo img {
    max-width: 80px;
}

.items > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 10px #673ab7;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;

}
.items > a:hover {
    font-size: large;
    color: #1a00b3;
}
.btn {
    border: none;
    outline: none;
    border-radius: 2px;
    color: black !important;
    font-weight: bolder;
    border-bottom: 0px solid green;
    background: #66ff66;
    width: 80%;
    height: 30px;
    font-size: medium;
    cursor: pointer;
}

@media (max-width: 320px) {
    .navigation, .items {
        flex-direction: column;
    }
    .items {
        margin-bottom: 5%;
    }
    .items > a {
        margin: 15% 0%
    }
    .btn {
        width: auto;
        height: 30px;
        font-size: medium;
    }
}